.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
inst/resources/img/._light_front_page.svg
inst/resources/img/._colorbar.svg
inst/resources/html/._template_reportdown.html
._reportdownGSS.Rproj
tests/testthat/rendered/report_light-test.html
tests/testthat/rendered/._report_light-test.html
man/figures/._gss_light_example.png
inst/resources/css/._gss_darkblue.css
inst/resources/img/._gss_blue_green.svg
tests/testthat/rendered/
man/figures/._gss_darkblue_example.png
inst/resources/img/._gss_light_v2_page.svg
inst/resources/img/._gss_light_v2_cover.svg
